.breadcrumb{padding-bottom:.5em}.breadcrumb ol{margin:0;padding:0}[dir=rtl] .breadcrumb ol{margin-right:0}.breadcrumb li{display:inline;list-style-type:none;margin:0;padding:0}.breadcrumb li:before{content:' \BB '}.breadcrumb li:first-child:before{content:none}